<div class="container message" style="color: gray;">
  <h3>Your favorites'</h3>
  <br/>
</div>
<div class="list-group">
    <% @results.each do |result| %>
        <% if current_user.favorites.split(' ').include?(result.id.to_s) %>
        <a class="list-group-item clearfix" style="border-style: none; margin-bottom: 2%; width: 50%; left: 25%; border-radius: 6px; background-color: rgba(255,255,255,0.65);" href= <%= concert_path(result.id) %>>
            <div>
                <strong style="color: black"><%= result.display_name %></strong>
                <br>
                <br>
                <span style="background-color: darksalmon;" class="badge badge-light"><%= result.type %></span>
                <span class="pull-right" style="margin-top: -3%;">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </span>
            </div>
        </a>
        <%end%>
    <% end %>
</div>
