<h3 style="color: gray;"><strong><%= link_to "About" %></strong></h3>
  <blockquote>
      <p style="color: gray;">University: <strong>Università di Roma La Sapienza</strong></p>
      <p style="color: gray;">Teaching course: <strong>Laboratorio di architetture software</strong></p>
      <p style="color: gray;">Customer: <strong>Domenico Berardi</strong></p>
  </blockquote>

<div style="margin-bottom: 30.8%; margin-top: 3%;">
	 <h5 style="color: gray;"><strong>Songify is a site focused on musical events where you can exchange opinions through reviews and interact in real-time via global chat. The site provides methods for searching for such events based on the area, the name of the group, the date of the concert and the ranking (implemented using the API and JSON of the <%= link_to "Songkick", "https://www.songkick.com/" %> site). It is possible to register on the site by entering your username and password, or via social media, so that you can manage and view your Favorites through your account.</strong></h5>
</div>
