<script>
    Splitting();
</script>
<div class="alrazy-title" style="margin-bottom: 2%;" data-splitting>enjoy with Songify</div>
<div class="row" style="margin-bottom: 2%">
  <div class="container" style="width: 32%; color: grey;">
    <h3>Track your favorite artists</h3>
    <p>Tell us who you want to see live. Easily import your favorite artists from Spotify, Facebook, Twitter and more.</p>
  </div>
  <div class="container" style="width: 32%; color: grey;">
    <h3>Discover concerts near you</h3>
    <p>See which of your favorite artists are playing nearby, and explore personalized concert recommendations.</p>
  </div>
  <div class="container" style="width: 32%; color: grey;">
    <h3>Never miss another concert</h3>
    <p>Get instant concert alerts when your favorite artists announce shows in your area, with everything you need to buy tickets. Easy!</p>
  </div>
</div>
<div class="imghp">
  <div class="value-message">
  <h1 style="font-size: 40px;"><a style="color: #fff;"<%= link_to "Find your perfect concert now", concerts_path %></a></h1>
  <h3 style="font-size: 20px;">Discover the best live music, tailored to your music taste.</h3>
</div>
</div>
