<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" style="margin-left: 2%;">
      <a class="nav navbar-brand" href="/about" style="font-size: 15px">About</a>
      <a class="nav navbar-brand" href="/contact" style="font-size: 15px">Contact</a>
    </div>
  </div>
</nav>
